:root {
    --delayTime: 0ms;
    --wrong: rgb(163, 163, 163);
    --colorRS: green;
    --colorRL: rgb(190, 171, 0);
    --colorWurtleBG: black;
    --colorpicker: rgb(197, 72, 0);
}

body {
    text-align: center;
    background-color: rgb(24, 24, 24);
    top: 0;
}

a {
    color: var(--colorRL);
    font-size: medium;
}

a:hover {
    color: var(--wrong);
}


#WURTLE { 
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
    text-align: center;
    color: green;
    font-size: 2.4em;
    line-height: 0;
    text-shadow: 1px 1px 4px var(--colorWurtleBG);
    display: inline-block;
}

h2 {
    line-height: 0;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
}

#howToPlay {
    padding-bottom: 8px;
}


.main {
    margin: auto;
    width: fit-content;
    height: 100%; 
    overflow: hidden;
    background-image: url('./images/turtleblank.png');
    background-size: 360px 400px;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.headingRow {
    display: flex;
    width: fit-content;
    text-align: center;
}

.wurtleTitle {
    width: 50%;
    margin-left: 1rem;
}

.iconDiv {
    width: 50%;
    text-align: right;
    margin-right: 1rem;
    margin-left: 2rem;
}

.qMarkIcon {
    color:rgb(124, 124, 124);
    font-size: 1.8em;
    display: inline-block;
    cursor: pointer;
    /* margin-right: 2rem; */
    position: relative;
    top: .8rem;
    width: 20%;
    justify-content: left;
}

.schemeIcon {
    color:rgb(124, 124, 124);
    font-size: 1.8em;
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
    position: relative;
    top: .8rem;
    width: 20%;
    justify-content: right;
}



.whiteIcon {
    animation: whiteIconAnimation 800ms linear infinite;
}

@keyframes whiteIconAnimation {
    0% { color: rgb(124, 124, 124); }
    50% { color: white; }
    100% { color: rgb(124, 124, 124); }
}


.directions {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 90%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: rgb(54, 54, 54);
    z-index: 10;
    display: none;
    overflow-wrap: break-word;
    opacity: 0;
}

#colorScheme {
    width: 100%;
    overflow-wrap: normal;
    padding-left: 0;
    justify-content: center;
}

#timer {
    font-size: small; 
    font-family: Arial, Helvetica, sans-serif;
    color: var(--wrong);
    margin-top: -1.5em;
    margin-bottom: .5em;
    z-index: 20;
    /* background-color: var(--wrong); */
}

.soundIcons {
    color:rgb(80, 80, 80);
    border-color: rgb(80, 80, 80);
    font-size: 2em;
    cursor: pointer;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-style: solid;
    border-radius: 8px;
    padding: 6px;
    margin: 10px;
}

.soundIcon {
    margin: auto;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    top:10%;
}

.soundIconSelected {
    color: white;
    border-color: white;
    background-color: var(--colorRS);
}


.squareGuess  {
    /* float: left; */
    margin: -.5px;
    padding: 0vw;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(163, 163, 163);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 2em;
    text-align: center;
    display: inline-flex;
    justify-content: center; /* center the content horizontally */
    align-items: center;
    width: 3rem;
    height: 3rem;
}


.squares {
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(24, 24, 24, 0.8);
    padding: 1vw;
    width: fit-content;
    position: relative;
}

.square  {
    float: left;
    margin: 2px;
    padding: 0vw;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(163, 163, 163);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 2.5em;
    text-align: center;
    display: inline-flex;
    justify-content: center; /* center the content horizontally */
    align-items: center;
    width: 3.9rem;
    height: 3.9rem;
}

/* ===================  WORD NOT FOUND ===================*/

.wordNotFound {
    position: absolute;
    top: 7.5%;
    left: 20%;
    right: 20%;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width:fit-content;
    height: fit-content;
    display: none;
    transform: rotateX(90deg); 
    /* transition: transform 800ms linear; */
    transform-style: preserve-3d;
    color: rgb(0, 0, 0);
}

.wordNotFound h4 {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 2px 2px 8px black;
}


/* ===================  ANIMATIONS ===================*/



@media only screen and (max-width: 600px) {
    .square {
    }

    .square .main {
        width: 100%;
    }
    
}

.keyboard { 
    margin: auto;
    margin-top: 0px;
    text-align: center; 
    width: 100%;
}

table { text-align: center;}

.keyboardTable {
    margin: auto;
    margin-top: 0px;
    width: fit-content;
}


.keyBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: white;
    background-color: var(--wrong);
    width: 2rem;
    height: 2.5rem; 
    border-style: none;
    cursor: pointer;
    border-radius: 3px;
}

.backspace { width: 2.6rem;}

.keyBtn:hover {
    background-color: rgb(88, 88, 88);
}

#guessBtn {
    font-size: .9em;
    padding: 2px 5px 0px 5px;
}

.Btn {
    width: fit-content;
    height: 40px;
    background-color: var(--wrong);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-style: none;
    border-color: rgb(189,189,189);
    margin-bottom: 20px;
    font-size: 1.2em;
    font-style: italic;
    border-radius: 3px;
    box-shadow: 2px 2px 8px black;
    cursor: pointer;
}

.Btn:hover {
    background-color: rgb(92, 92, 92);
    color:rgb(255, 255, 255);
    border-style: none;
    border-color: rgb(168, 168, 168);
}

.BtnNoHover {
    background-color: rgb(92, 92, 92);
    color:rgb(255, 255, 255);
}

.BtnNoHover:hover {
    background-color: rgb(92, 92, 92);
    color:rgb(255, 255, 255);
}

.gameLevelBtn {
    width: 80%;
    font-size: 1em;
    color: black;
    background-color: var(--wrong);
    border: 1px solid var(--wrong);
}

.gameLevelBtnSelected {
    background-color: white;
    box-shadow: 0px 0px 10px var(--colorRS);
    border-color: var(--colorRS);
}

.schemeBtn {
    font-size: .8rem;
    font-style: normal;
    margin: 20px 4px 30px;
    width: 5rem;
}

.schemeBtn:focus {
    border-style: solid;
}

.schemeBtn:hover {
    border-style: solid;
    border-color: currentColor;
}

.closeDirections {
    width: 100px;
    margin-top: 1em;
}

.BtnNewGame {
    background-color: white;
    color: black;
    float: inherit;
    /* margin-right: 15px; */
    padding: 8px 18px 8px 18px;
}

#shareIcon {
    color:rgb(0, 0, 0);
    padding: 8px 12px 8px 12px;
    float: inherit;
    margin-right: 0;
    cursor: pointer;
}

.gameOver {
    display: none;
    margin: auto;
    width: 100%;
    height: 9.5rem;
    margin-top: -1rem;
    background-color: green;
    color: white;
    border-radius: 4px;
}

.gameOver h1 {
    font-size: 3em;
    line-height: 0;
    margin-top: 1rem;
    padding-bottom: 8px;
    /* text-shadow: 1px 1px 8px black; */
}

.gameOver h2 {
    line-height: 0;
    margin-top: 1rem;
    padding-bottom: 10px;
    font-size: small;
}

#gameOverMsg {
    font-family: 'Permanent Marker', cursive;
    color: white;
    display: none;
}

#showWord {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#wurtleWord {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
}

.shareBorder {
    border-style: solid;
    border-color: rgba(255,255,255,.1);
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    padding: 0rem .5rem;
}

.shareBorderAnimate {
    animation: shareBorderAnimation 800ms forwards;
}

@keyframes shareBorderAnimation {
    0% { border-color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0.115); }
  
    /* 60% { border-color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0.205); } */
  
    100% { border-color: rgba(255,255,255,.1); background-color: rgba(255, 255, 255, 0); }
}

.copiedWord {
    opacity: 0; 
    font-size: .8em;
}

.copiedWordAnimate {
    animation: copiedWordAnimation 800ms forwards;
}

@keyframes copiedWordAnimation {
    0% { opacity: 100; }
  
    90% { opacity: 100; }
  
    100% { opacity: 0; }
}

.shareResults {
    position: fixed;
    top: 12%;
    left: 10%;
    right: 10%;
    margin: auto;
    text-align: center;
    padding: 0rem 3.5rem 0rem 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    line-height: .3;
    opacity: 0%;
    transform-style: preserve-3d;
    color: rgb(194, 194, 194);
    background-color: rgb(54, 54, 54);
}



.schemeRow {
    display: flex;
    justify-content: left;
    margin-left: 3rem;
    margin-bottom: 8px;
}


/* ==================================================================
ANIMATE THE KEYBOARD WITH CLASSES 
====================================================================*/

.bgColorRL {
    background-color: var(--colorRL);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    -webkit-transition-delay: calc(var(--delayTime) * 1ms);
    -moz-transition-delay: calc(var(--delayTime) * 1ms);
     -o-transition-delay: calc(var(--delayTime) * 1ms);
    transition-delay: calc(var(--delayTime) * 1ms);
}

.bgColorRL:hover {
    background-color: var(--colorRL);
    transition: background-color 0ms linear;
    transition-delay: 0ms;
}

.bgColorRS {
    background-color: var(--colorRS);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    -webkit-transition-delay: calc(var(--delayTime) * 1ms);
    -moz-transition-delay: calc(var(--delayTime) * 1ms);
     -o-transition-delay: calc(var(--delayTime) * 1ms);
    transition-delay: calc(var(--delayTime) * 1ms);
}

.bgColorRS:hover {
    background-color: var(--colorRS);
    transition: background-color 0ms linear;
    transition-delay: 0ms;
}

.keyboardLetterGrayedOut {
    color: var(--wrong);
    -webkit-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;
    -webkit-transition-delay: calc(var(--delayTime) * 1ms);
    -moz-transition-delay: calc(var(--delayTime) * 1ms);
     -o-transition-delay: calc(var(--delayTime) * 1ms);
    transition-delay: calc(var(--delayTime) * 1ms);
}

